/*
	Name: Tahia Hossain
	File: style.css
	Date: 20th June 2024
	Assignment 3 Part 3 CSS style
  Adding to more CSS tags and attributes to the existing ones on the CSS file. This is the file
  linked in the HTML file.
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'aleo';
  src: url(fonts/aleo-regular-webfont.eot);
  src: url('fonts/aleo-regular-webfont.woff2') format('woff2'),
       url('fonts/aleo-regular-webfont.woff') format('woff'),
       url('fonts/aleo-regular-webfont.ttf') format('truetype'),
       url('fonts/aleo-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: 'antic';
  src: url(fonts/anticsans-regular-webfont.eot);
  src: url('fonts/aleo-regular-webfont.woff2') format('woff2'),
       url('fonts/aleo-regular-webfont.woff') format('woff'),
       url('fonts/anticsans-regular-webfont.ttf') format('truetype'),
       url('fonts/anticsans-regular-webfont.svg') format('svg');
}

html{
  font-family: 'antic', sans-serif;
  font-size: 10px;
}

h1, h2{
  font-family: 'aleo', Times;
  letter-spacing: 1px;
}

h1{
  font-size: 3rem;
  text-align: center;
}

h2{
  font-size: 2rem;
}

p, li{
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
  word-spacing: 1px
}

section h2 + p{
  text-indent: 30px;
}

a:link {
  color: green
}

a:visited {
  color: red
}

a:hover{
  color: blue;
}

a:active {
  color: yellow;
  text-decoration: solid  underline;
}

a {
  outline-width: 5rem;
}

ul, ol{
  margin: 5rem 0;
}

ul{
  list-style-type: bold circle;
}

ol{
  list-style-type:lower-alpha
}

a[href*="http"] {
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 20px 20px;
  padding-right: 25px;
}

nav ul{
  margin-bottom: 10rem;
  margin-top: 10rem;
}

nav li{
  margin-bottom: 3rem;
  margin-top: 3rem;
  list-style-type: none;
}

nav li a {
  border: 2px solid peru;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  text-decoration: underline;
  line-height: 3;
}

nav li a:focus, nav li a:hover {
  color: pink
}

nav li a:active{
  color: burlywood;
  text-decoration: solid underline;
}