/*
	Name: Tahia Hossain
	File: style.css
	Date: 20th June 2024
	Assignment 3 Part 3 CSS style
  Adding CSS tags to the style.css file for assignment 3 part 2,
  according to the given assignment.
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face {
  font-family: 'aleo';
  src: url(fonts/aleo-regular-webfont.eot);
  src: url('fonts/aleo-regular-webfont.woff2') format('woff2'),
       url('fonts/aleo-regular-webfont.woff') format('woff'),
       url('fonts/aleo-regular-webfont.ttf') format('truetype'),
       url('fonts/aleo-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: 'antic';
  src: url(fonts/anticsans-regular-webfont.eot);
  src: url('fonts/aleo-regular-webfont.woff2') format('woff2'),
       url('fonts/aleo-regular-webfont.woff') format('woff'),
       url('fonts/anticsans-regular-webfont.ttf') format('truetype'),
       url('fonts/anticsans-regular-webfont.svg') format('svg');
}

html{
  font-family: 'antic', sans-serif;
  font-size: 10px;
}

h1, h2{
  font-family: 'aleo', Times;
  letter-spacing: 1.5px;
}