/*
	Name: Tahia Hossain
	File: style.css
	Date: 20th June 2024
	Assignment 3 Part 2 CSS style
  Adding CSS tags to the style.css file for assignment 3 part 2,
  according to the given assignment.
*/

html{
  font-family: sans-serif;
}

.box{
  width: 200px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-size: 1.1rem; /* The default browser font size is 16px.
  So I chose 1.1rem because 1.1*16px = 17.6px */
  
}
