/*
	Name: Tahia Hossain
	File: style.css
	Date: 20th June 2024
	Assignment 3 Part 2 CSS style
  Adding CSS tags to the style.css file for assignment 3 part 2,
  according to the given assignment.
*/

html{
  font-family: sans-serif;
}

