/*
Name: Tahia Hossain.
File: style.css
Date: 1st August 2024
Raw CSS text copy-pasted here.
THIS IS THE ACTUAL PART 3 OF THE ASSIGNMENT 4. THE ONE NAMED a4p3 AND COMMITTED
AS SUCH IS ACTUALLY PART 4 OF THE ASSIGNMENT. I DID NOT CHANGE THE NAME IN CASE
IT MESSED UP MY COMMITS.
*/

html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;

  color: transparent;
  text-shadow: 0 0 4px white;
}